<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/index.js"></script>
</head>
    <body>
        <!-- Main content of your page goes here -->
         <div id="submissionForm">
            <h1>Disease Prediction App</h1>
            <form id="predictionSubmit">
                <label for="prediction">Symtom:</label>
                <input type="text" id="prediction" name="prediction">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <p id="diseaseType"></p>
        </div>
    </body>
</html>